.advantages {
  min-height: 664px;
  background-color: $light-grayish-blue;
  color: $very-dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;

  h2 {
    @include title;
    width: 100%;
    text-align: center;
  }

  @media (max-width: $bp-tablet) {
    min-height: 755px;
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
      font-size: 42px;
      line-height: 42px;
    }
  }

  @media (max-width: $bp-mobile) {
    padding-top: 70px;
    padding-bottom: 25px;

    h2 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.advantages__inner {
  min-width: 1040px;
  display: flex;
  flex-direction: column;
  min-height: 307px;
  position: relative;
  margin-top: 65px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 340px;
    border: 2px solid rgba(209,10,66,0.2);
    top: 50%;
    transform: translate(-50%);
  }

  &::before {
    left: 170px;
  }

  &::after {
    right: -170px;
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;
    min-width: 100%;
    min-height: 460px;
    margin-top: 47px;
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 152px;

  &:last-child {
    margin: 0;
  }

  @media (max-width: $bp-tablet) {
    margin-bottom: 0;
  }

  @media (max-width: $bp-mobile) {
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    min-height: 260px;
  }
}

.advantages__card {
  position: absolute;
  max-width: 240px;
  background-color: $very-blue;
  color: $white;
  padding: 37px 34px;
  text-align: center;
  left: 50%;
  top: 7px;
  transform: translate(-50%);
  min-height: 307px;

  span {
    font-weight: bold;
    font-size: 74px;
    line-height: 100px;
  }

  h3 {
    font-size: 26px;
    margin: 0;
  }

  p {
    line-height: 24px;
    margin: 0;
    margin-top: 38px;
  }

  @media (max-width: $bp-tablet) {
    position: relative;
    min-width: 442px;
    min-height: 240px;
    top: 0;
    padding: 14px 126px;
    margin-top: 45px;
    margin-bottom: 38px;

    h3 {
      font-size: 22px;
    }

    p {
      margin-top: 17px;
    }
  }

  @media (max-width: $bp-mobile) {
    margin-top: 0;
    min-width: 320px;
    padding: 29px 70px;
    margin-bottom: 45px;

    span {
      line-height: 90px;
    }

    p {
      margin-top: 10px;
    }
  }
}

.advantages__item {
  position: relative;
  max-width: 340px;
  padding-left: 107px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 108px;
    height: 100%;
    background-size: contain;
  }

  h3 {
    font-size: 22px;
    line-height: 33px;
    margin: 0;
  }

  p {
    font-weight: 300;
    line-height: 22px;
    margin: 0;
    margin-top: 7px;
  }

  &--space {
    padding-left: 164px;

    &::before {
      background-image: url("../img/icon-900@1x.png");
      background-repeat: no-repeat;
      left: 26px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/icon-900@2x.png");
      }
    }
  }

  &--comfort {
    padding-left: 157px;

    &::before {
      background-image: url("../img/icon-350@1x.png");
      background-repeat: no-repeat;
      left: 20px;
      top: 8px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/icon-350@2x.png");
      }
    }
  }

  &--parking {
    &::before {
      background-image: url("../img/icon-70@1x.png");
      background-repeat: no-repeat;
      width: 71px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/icon-70@2x.png");
      }
    }
  }

  &--practice {
    &::before {
      background-image: url("../img/icon5@1x.png");
      background-repeat: no-repeat;
      top: 8px;
      width: 71px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/icon5@2x.png");
      }
    }
  }

  @media (max-width: $bp-tablet) {
    max-width: 325px;

    p {
      margin: 0;
    }

    &::before {
      width: 89px;
    }

    &--space {
      padding-left: 116px;
      padding-right: 22px;

      &::before {
        background-image: url("../img/icon-900-tablet@1x.png");
        left: 0;
        top: 5px;

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/icon-900-tablet@2x.png");
        }
      }
    }

    &--parking {
      padding-left: 92px;

      &::before {
        background-image: url("../img/icon-70-tablet@1x.png");
        top: 5px;
        width: 59px;

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/icon-70-tablet@2x.png");
        }
      }
    }

    &--comfort {
      padding-left: 120px;

      &::before {
        background-image: url("../img/icon-350-tablet@1x.png");
        left: 0;
        top: 7px;

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/icon-350-tablet@2x.png");
        }
      }
    }

    &--practice {
      padding-left: 88px;

      &::before {
        background-image: url("../img/icon-5-tablet@1x.png");
        width: 59px;

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/icon-5-tablet@2x.png");
        }
      }
    }
  }

  @media (max-width: $bp-mobile) {
    padding: 0;
    max-width: 227px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    text-align: center;
    margin-bottom: 40px;

    &::before {
      left: 50%;
      transform: translate(-50%);
      background-position: top;
    }

    h3 {
      font-size: 20px;
      line-height: 150%;
    }

    &--space {
      padding-left: 22px;
      padding-right: 22px;

      &::before {
        background-image: url("../img/icon-900-mobile@1x.png");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/icon-900-mobile@2x.png");
        }
      }
    }

    &--parking {
      &::before {
        background-image: url("../img/icon-70-mobile@1x.png");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/icon-70-mobile@2x.png");
        }
      }
    }

    &--comfort {
      &::before {
        background-image: url("../img/icon-350-mobile@1x.png");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/icon-350-mobile@2x.png");
        }
      }
    }

    &--practice {
      &::before {
        background-image: url("../img/icon-5-mobile@1x.png");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/icon-5-mobile@2x.png");
        }
      }
    }
  }
}
