.promo {
  min-height: 735px;
  display: flex;
  align-items: center;
  padding-top: 113px;
  padding-bottom: 115px;

  picture {
    background-color: $dark-blue;
    display: flex;
  }

  img {
    min-height: 500px;
    object-fit: cover;
  }

  @media (max-width: $bp-tablet) {
    min-height: 492px;
    padding-top: 100px;
    padding-bottom: 100px;

    img {
      min-height: 292px;
    }
  }

  @media (max-width: $bp-mobile) {
    min-height: 724px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.promo__wrapper {
  display: flex;
  width: 100%;

  @media (max-width: $bp-tablet) {
    justify-content: center;
  }

  @media (max-width: $bp-mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.promo__inner {
  display: flex;
  max-width: 345px;

  h2 {
    @include title;
    font-size: 90px;
    line-height: 90px;
  }

  time {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    display: flex;
    border-top: 1px solid $white;
  }

  span {
    font-size: 18px;
    line-height: 27px;
    position: relative;
    display: block;
    padding-bottom: 4px;

    &.promo__data {
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      display: block;
      max-width: 50px;
      padding-left: 5px;
    }
  }

  @media (max-width: $bp-tablet) {
    max-width: 200px;

    h2 {
      font-size: 52px;
      line-height: 52px;
    }

    time {
      font-size: 24px;
      line-height: 36px;
    }

    span {
      font-size: 12px;
      line-height: 18px;
      padding-bottom: 0;

      &.promo__data {
        font-size: 10px;
        line-height: 15px;
        padding-top: 3px;
        padding-left: 4px;
      }
    }
  }

  @media (max-width: $bp-mobile) {
    h2 {
      line-height: 50px;
    }

    span {
      line-height: 17px;
    }

    time {
      line-height: 34px;
    }
  }
}

.promo__about {
  background-color: $vivid-red;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  justify-content: center;
  padding: 40px 10px;

  p {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    margin-top: 10px;
    padding-right: 65px;
    max-width: 345px;
  }

  a {
    @include button-style;
    padding: 26px 113px;
    margin-top: 45px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
  }

  @media (max-width: $bp-tablet) {
    min-height: 292px;
    max-width: 292px;

    a {
      font-size: 10px;
      line-height: 12px;
      padding: 12px 49px;
      margin-top: 29px;
    }

    p {
      font-size: 12px;
      line-height: 18px;
      padding-right: 15px;
      margin: 0;
      max-width: 205px;
    }
  }

  @media (max-width: $bp-mobile) {
    padding: 37px 45px;
    flex: 0 0 auto;
    max-width: 290px;

    a {
      margin-top: 28px;
      padding: 12px 47px;
    }

    p {
      padding-right: 13px;
    }
  }
}

.promo__time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $bp-tablet) {
    padding-right: 0;
  }
}
