.subscription {
  background-color: $light-grayish-blue;
  min-height: 851px;
  max-width: 100%;
  color: $very-dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @include title;
    margin-top: 115px;
  }

  @media (max-width: $bp-tablet) {
    min-height: 1779px;

    h2 {
      margin-top: 96px;
      font-size: 42px;
      line-height: 42px;
    }
  }

  @media (max-width: $bp-mobile) {
    min-height: 1487px;

    h2 {
      margin-top: 66px;
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.subscription__time {
  @include list-reset;
  display: flex;
  margin-top: 39px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 335px;
    top: 41px;
    background-color: rgba(120,120,120,0.2);
  }

  li {
    margin-right: 46px;
    font-size: 20px;
    line-height: 30px;
    opacity: 0.5;
    padding-bottom: 11px;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid $vivid-red;
    }

    &:hover {
      button {
        color: lighten($very-dark-blue,15);
      }
    }

    &:nth-last-of-type(1) {
      margin: 0;
    }
  }

  button {
    background: none;
    border: none;
    padding: 0;
    pointer-events: none;
    user-select: none;
  }

  @media (max-width: $bp-tablet) {
    margin-top: 32px;

    &::before {
      width: 333px;
      top: 38px;
    }

    li {
      font-size: 18px;
      line-height: 27px;
      margin-right: 55px;
    }
  }

  @media (max-width: $bp-mobile) {
    margin: 0 15px;
    margin-top: 24px;

    &::before {
      width: 288px;
      top: 37px;
    }

    li {
      font-size: 16px;
      line-height: 24px;
      margin-right: 45px;
      padding-bottom: 13px;
    }
  }
}

.subscription__about-tab {
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  display: none;

  &.active {
    display: flex;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    flex-grow: 1;
    padding-top: 48px;
    padding-bottom: 60px;
    margin-right: 40px;
    background-color: $white;
    position: relative;
    border: 7px solid white;

    &:hover {
      border-image-source: linear-gradient(111.72deg,$vivid-red 17.6%,$strong-blue 95.31%);
      border-image-slice: 1;
      border-width: 7px;
      border-style: solid;
    }

    &::before {
      content: "5000";
      position: absolute;
      font-size: 100px;
      line-height: 150px;
      color: $very-light-gray;
      font-family: $Roboto-Condensed;
      font-weight: 700;
      opacity: 0.48;
      top: 128px;
    }

    &:nth-child(2n) {
      &::before {
        content: "1700";
      }
    }

    &:nth-child(3n) {
      &::before {
        content: "2700";
      }
    }

    &:nth-last-of-type(1) {
      margin: 0;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    margin: 0;
  }

  span {
    margin-top: 5px;
    line-height: 24px;
    color: $mostly-desaturated-dark-blue;
  }

  p {
    margin: 0;
    margin-top: 65px;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $light-dark-blue;
    z-index: 2;

    span {
      color: $very-dark-blue;
    }
  }

  a {
    margin-top: 35px;
    padding: 24px 45px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    box-shadow: 0 0 0 2px $very-dark-blue;

    &:hover {
      background: linear-gradient(111.72deg,$vivid-red 17.6%,$strong-blue 95.31%);
      color: $white;
      box-shadow: none;
    }
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;
    align-items: center;
    margin-top: 45px;

    li {
      margin: 0;
      margin-bottom: 40px;
      min-width: 442px;
      flex-grow: 0;
      padding-top: 50px;
      padding-bottom: 63px;
    }
  }

  @media (max-width: $bp-mobile) {
    margin-top: 34px;

    li {
      min-width: 290px;
      padding-top: 45px;
      padding-bottom: 49px;
      margin-bottom: 36px;

      &::before {
        font-size: 80px;
        line-height: 120px;
        top: 111px;
      }
    }

    h3 {
      font-size: 22px;
      line-height: 25px;
    }

    p {
      font-size: 48px;
      line-height: 72px;
      margin-top: 57px;

      span {
        font-size: 46px;
      }
    }

    a {
      margin-top: 30px;
    }
  }
}

.subscription__about-tab--2 {
  li {
    &::before {
      content: "7000";
    }

    &:nth-child(2n) {
      &::before {
        content: "3700";
      }
    }

    &:nth-child(3n) {
      &::before {
        content: "4700";
      }
    }
  }
}

.subscription__about-tab--3 {
  li {
    &::before {
      content: "9000";
    }

    &:nth-child(2n) {
      &::before {
        content: "5700";
      }
    }

    &:nth-child(3n) {
      &::before {
        content: "7700";
      }
    }
  }
}
