.subscription {
  background-color: $light-grayish-blue;
  min-height: 851px;
  max-width: 100%;
  color: $very-dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @include title;
    margin-top: 115px;
  }

  @media (max-width: $bp-tablet) {
    min-height: 1779px;

    h2 {
      margin-top: 96px;
      font-size: 42px;
      line-height: 42px;
    }
  }

  @media (max-width: $bp-mobile) {
    min-height: 1487px;

    h2 {
      margin-top: 66px;
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.subscription__time {
  @include list-reset;
  display: flex;
  margin-top: 39px;
  position: relative;
  box-shadow: 0 -2px 0 rgba(120,120,120,0.2) inset;

  li {
    margin-right: 46px;

    &:last-child {
      margin: 0;
    }
  }

  a {
    display: flex;
    position: relative;
    height: 100%;
    font-size: 20px;
    line-height: 30px;
    opacity: 0.5;
    padding-bottom: 11px;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 1;
      color: lighten($very-dark-blue,15);
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: $vivid-red;
      bottom: 0;
      left: 0;
      transition: width 0.3s ease-in;
    }

    &.active {
      &::before {
        width: 100%;
      }
    }
  }

  @media (max-width: $bp-tablet) {
    margin-top: 32px;

    li {
      margin-right: 55px;
    }

    a {
      font-size: 18px;
      line-height: 27px;
    }
  }

  @media (max-width: $bp-mobile) {
    margin: 0 15px;
    margin-top: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 290px;

    li {
      margin-right: 45px;
      flex-shrink: 0;
    }

    a {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.subscription__about-tab {
  margin-top: 40px;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
  display: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/discs@1x.png");
    background-repeat: no-repeat;
    bottom: -175px;
    right: -140px;
    width: 427px;
    height: 415px;
    z-index: -1;
  }

  &.active {
    display: flex;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 60px;
    background-color: $white;
    border: 7px solid white;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 31%;
    margin-right: 3.5%;

    &:hover,
    &:focus {
      border-image-source: linear-gradient(111.72deg,$vivid-red 17.6%,$strong-blue 95.31%);
      border-image-slice: 1;
      border-width: 7px;
      border-style: solid;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    margin: 0;
  }

  span {
    margin-top: 5px;
    line-height: 24px;
    color: $mostly-desaturated-dark-blue;
  }

  p {
    margin: 0;
    margin-top: 65px;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $light-dark-blue;
    z-index: 1;
    position: relative;

    &::before {
      content: attr(data-price);
      position: absolute;
      font-size: 100px;
      line-height: 150px;
      color: $very-light-gray;
      font-family: $Roboto-Condensed;
      font-weight: 700;
      opacity: 0.48;
      top: -55px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    span {
      color: $very-dark-blue;
    }
  }

  a {
    margin-top: 35px;
    padding: 24px 45px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    box-shadow: 0 0 0 2px $very-dark-blue;

    &:hover {
      background: linear-gradient(111.72deg,$vivid-red 17.6%,$strong-blue 95.31%);
      color: $white;
      box-shadow: none;
    }
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;
    align-items: center;
    margin-top: 45px;

    &::after {
      background-image: url("../img/discs-tablet@1x.png");
      bottom: -155px;
      right: -102px;
    }

    li {
      margin: 0;
      margin-bottom: 40px;
      min-width: 442px;
      padding-top: 50px;
      padding-bottom: 63px;
    }
  }

  @media (max-width: $bp-mobile) {
    margin-top: 34px;

    &::after {
      content: none;
    }

    li {
      min-width: 290px;
      padding-top: 45px;
      padding-bottom: 49px;
      margin-bottom: 36px;
    }

    h3 {
      font-size: 22px;
      line-height: 25px;
    }

    p {
      font-size: 48px;
      line-height: 72px;
      margin-top: 57px;

      &::before {
        font-size: 80px;
        line-height: 120px;
        top: -45px;
      }

      span {
        font-size: 46px;
      }
    }

    a {
      margin-top: 30px;
    }
  }
}
