*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $Roboto-Condensed;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  overflow-x: hidden;
}
