@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin title {
  margin: 0;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
}

@mixin button-style {
  border: 4px solid $white;
  color: $white;
  padding: 0;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
