$bp-tablet: 1199px;
$bp-mobile: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #000000;
$mostly-black: #030a1a;
$dark-blue: #003d85;
$very-dark-blue: #102654;
$strong-red: #b80027;
$mostly-desaturated-dark-blue: #495a7d;
$very-light-gray: #e8e8e8;
$light-dark-blue: #103aae;
$light-grayish-blue: #f8f9fc;
$vivid-red: #ed0233;
$strong-blue: #003eb7;
$grayish-blue: #b6bdcc;
$very-blue: #1c3374;
$gray: #b8b8b8;

$Bebas-Neue: "Bebas Neue", "Arial", sans-serif;
$Roboto-Condensed: "Roboto Condensed", "Arial", sans-serif;
